<ion-header class="ion-container ion-no-border"> 
  <ion-toolbar>
    <div class="toolbar-wrapper">
      <ion-buttons slot="start" class="ion-no-padding">
        <ion-button>
          <ion-icon 
              color="primary" 
              class="logo" 
              name="language-outline"
          ></ion-icon>
        </ion-button>
        <!-- ion-hide-lg-down : removes the search bar if the size of the screenis less than large -->
        <ion-searchbar colo="tertiary" class="ion-hide-lg-down" placeholder="Search..."></ion-searchbar>
      </ion-buttons>
      <ion-grid>
        <ion-row class="ion-justify-content-end">
          <ion-col class="ion-hide-md-down" size="auto">
            <ion-icon name="home"></ion-icon>
            <div>Home</div>
          </ion-col>
          <ion-col class="ion-hide-md-down" size="auto">
            <ion-icon name="people"></ion-icon>
            <div>My network</div>
          </ion-col>
          <ion-col class="ion-hide-md-down" size="auto">
            <ion-icon name="briefcase"></ion-icon>
            <div>jobs</div>
          </ion-col>
          <ion-col class="ion-hide-md-down" size="auto">
            <ion-icon name="chatbox-ellipses"></ion-icon>
            <div>Messaging</div>
          </ion-col>
          <ion-col class="ion-hide-md-down" size="auto">
            <ion-icon name="notifications"></ion-icon>
            <ion-badge color="danger">2</ion-badge>
            <div>Notifications</div>
          </ion-col>
          <ion-col  size="auto" (click)="presentPopover($event)">
            <ion-avatar>
              <ion-img [src]="userFullImagePath"></ion-img>
            </ion-avatar>
            <div class="me-text">Me
              <ion-icon name="caret-down-outline"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-toolbar>

</ion-header>