.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px ;
    .logo-text{
        font-size: 36px;
        font-weight: 700;
    }
    .logo-icon{
        font-size: 44px;
    }
}

.subtitle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 16px;
    font-size: 30px;
    text-align: center;
  
}