<ion-card>
  <ion-card-header>
    <ion-text>
      <h5>Today's most viewed courses</h5>
      <ion-icon name="information"></ion-icon>
   </ion-text>
  </ion-card-header>
  <ion-card-content>
    <ion-text color="dark">
      <h6 class="first-course">1. High Performance Habits</h6>
    </ion-text>
    <p>Assoul Sidali | Entrepreneur</p>
    <ion-text color="dark">
      <h6 >1. High Performance Habits</h6>
    </ion-text>
    <p>boulam lkhider | leader</p>
    <ion-text color="dark">
      <h6 >3. Psynchology of success</h6>
    </ion-text>
    <p>moh trisiti | Psynchologist</p>
    <ion-button color="medium" size="small" fill="clear">
      View all recommendations 
      <ion-icon color="dark" name="arrow-forward-outline" class="ion-padding"></ion-icon>
    </ion-button>
  </ion-card-content>
</ion-card>