<ion-card>
  <div class="backdrop">
    <div [style.background]="bannerColors.color1" class="background-one"></div>
    <div class="half-ellipse" [style.background]="bannerColors.color1"></div>
    <div class="background-two" [style.background]="bannerColors.color2"></div>
    <div class="background-three" [style.background]="bannerColors.color2"></div>
  </div>
  <ion-card-header class="ion-text-center">
    <input #fileUpload (change)="onFileSelect($event)" type="file" style="display:none;" />
    <ion-avatar (click)="fileUpload.click()" style="cursor:pointer" class="ion-margin-auto">
      <ion-img src="../../../../assets/sidali.jpg"></ion-img>
    </ion-avatar>
    <ion-card-title class="ion-margin-top">
        Assoul Sidali
    </ion-card-title>
    <ion-card-subtitle>Full Stack Developer</ion-card-subtitle>
  </ion-card-header>
  <div class="item-divider"></div>
  <ion-card-content>
    <div>
      <span>Who viewed your profile</span>
      <ion-text color="primary">447</ion-text>
    </div>
    <div class="connections">
      <span>connections</span>
      <ion-text color="primary">478</ion-text>
    </div>
    <ion-card-subtitle color="dark">Manage your Network</ion-card-subtitle>
  </ion-card-content>
</ion-card>