ion-badge{
    position: absolute;
    margin-left: -6px;
    margin-top: -10px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
   
}
ion-toolbar{
    height: 50px;
    ion-tab-button{
        padding-top: 4px;
    }
}