:host{ /* refer to the home component where its hosted (in this case route-outlet)*/
    //flex already applied
    justify-content: flex-start; //default is space-between
    min-height: 100vh;

}
.content-container{
    display: flex;
 
    margin: 40px auto;
    justify-content: center;
    margin-top: 0;

        width:min(100%,1128px);
        @media (min-width: 576px) {
            width: 576px;
        }
        @media (min-width: 1280px) {
            width: 1128px;
        }
    app-profile-summary{
        flex: 1;

    }
    .middle-section{
        flex: 2;
    }
    app-advertising{
        flex:1;
    }
    
}
app-all-posts ,.post-divider{
    margin: 0 12px;
}
.post-divider{
    padding-top: 8px;
    border-bottom:1px solid rgb(212, 208, 208);
}


app-tabs{
    margin-top: auto;
}