:host{ /* refer to the home component where its hosted (in this case route-outlet)*/
    //flex already applied
    justify-content: start; //default is space-between
}
.content-container{
    display: flex;
    width: 1128px;
    margin: 40px auto;
}
app-all-posts ,.post-divider{
    margin: 0 12px;
}
.post-divider{
    padding-top: 8px;
    border-bottom:1px solid rgb(212, 208, 208);
}

