
ion-card{
    width: 100%;
    box-shadow: none;
    border:1px solid #e1e1e1;
    margin: 0;
}

ion-card-header{
    display: flex;
    width: 100%;
    ion-avatar{
        width: 48px;
        height:48px;   
    }
    ion-button{
        
        --border-width:1px;
        width: 80%;
        height: 48px;
        // margin-left: 16px;
        span.ion-text-left{
            margin-right: auto;// pushing the element even though the text is in the left
        }
    }
}
ion-card-content{
    width:80%;
    display: flex;
    justify-content: space-between;
}

